@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ............desctop start........... */
body {
    font-family: roboto;
    
}
.container, .project{
  margin: 0;
  padding: 0;
  background-color: #EFEFEF;
}

.headd {
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 61px;
    /*margin-left: 20px;*/
}
.eka {
    font-weight: 700;
    font-size: 30px;
}
.photos :last-child{
    display: none;
}
.project {
    padding: 91PX 331px 111px 126px;
}
.section9{
    padding: 179px 410px 185px 122px;
}
.section10{
    padding: 50px 0px 23px 122px;
}
.footer{
    display: flex;
    position: relative;
    margin-top: -220px;
    margin-left: 26px;
}
.footer1{
    margin-right: 30px;
}
.footer2{
    margin-top: 30px;
}
.footer2 :first-child{
    margin-bottom: 23px;
}
/* ............desctop end ............. */

/* ............tablet start.............. */

@media screen and (max-width: 930px) {
    .headd {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 34px;
       
    }
    .project {
        padding: 53px 192px 64px 71px;
    }
    .section9{
        padding: 103.67px 237.46px 107.15px 71px;
    }
    .section10{
        padding: 28.96px 50px 13.32px 71px;
    }
    .eka {
        font-weight: 700;
        font-size: 17px;
    }
    .photos :last-child{
        display: none;
    }
    .firstg{
        width: 458px;
        height: 261px;
    }
    .footer{
        display: flex;
        position: relative;
        margin-top: -130px;
        margin-left: 17px;
    }
    .secondg{
        width: 110px;
    }
    .therdg{
        width: 18.5px;
    }
    .footer1{
        margin-right: 17px;
    }
    .footer2{
        margin-top: 20px;
    }
    .footer2 :first-child{
        margin-bottom: 13px;
    }
}
/* ............table end........... */

/* ............smartphone start........... */

@media screen and (max-width: 590px) {
    .headd {
        font-weight: 700;
        font-size: 26px;
        margin:0;
        margin-bottom: 11px;
    }
    .project {
        padding: 42PX 32px 53px 36px;
    }
    .section9{
        padding: 62px 20px 64px 37px;
    }
    .section10{
        padding: 23.30px 188.82px 10px 37px;
    }

    .firstg, .footer{
        display: none;
    }
    .photos{
        padding:0 !important;
        margin-left: 0 !important;
    }
    .photos :last-child{
        display:flex;
        position: relative;
        margin-left: 0;
        padding-left: 0;

        
    }
    .eka {
        font-size: 14px;
    }
    
}