@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    font-family: roboto;
}
/*............section 7 start.......*/
.container{
    margin-left: 95px;

}
.section7{
    background-color: #9DC9C8;
    color: black;
}
.row-s7{
    font-weight: 700;
    font-size: 55px;
    padding-top: 180px;
}
.head-s7{
    font-weight: 400;
    font-size: 25px;
    padding-top: 54px;
}
.head2-s7{
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 80px;
}
.text-s7{
    display: flex;
}
.text1-s7{
    width: 294px;
    margin-right: 70px;
    padding-bottom: 180px;
}
.texth-s7{
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 9px;
}
.text2-s7{
    font-weight: 400;
    font-size: 18px;
}
/*............section 7 end.......*/

/* .........section 8 start...... */

.section8{
    background-color: #000;
}
.list-s8{
    display: flex;
}
.icons-s8 img{
    margin-bottom: 30px;
}
.icn-s8{
    margin-right: 25px;
}
.margin-top{
    margin-top: 50px;
}
.foot{
    color: #fff;
}
.number-s8 {
    display: flex;
    margin-top: 10px;
}
.number-s8 p{
    color: #fff;
    font-size: 25px;
    font-weight: 400;
}
.number-s8 img{
    margin-right: 22px;
}
.foot{
    font-weight: 400;
    font-size: 18px;
    margin-top: 146px;
    padding-bottom: 40px;
}
/*  .............. descktop end ............ */
@media screen and ( max-width: 960px){
    /* ...........tablet section 7.......... */
    .container{
        margin-left: 70px;
    }
    .row-s7{
        font-weight: 700;
        font-size: 32px;
        padding-top: 103px;
    }
    .head-s7{
        font-weight: 400;
        font-size: 14px;
        padding-top: 31px;
    }
    .head2-s7{
        font-size: 46px;
        font-weight: 400;
        margin-bottom: 44px;
    }
    .text-s7{
        display: flex;
    }
    .text1-s7{
        width: 170px;
        margin-right: 40px;
        padding-bottom: 107px;
    }
    .texth-s7{
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .text2-s7{
        font-weight: 400;
        font-size: 10px;
    }
    /*  .............tablet section 7 end......... */

    /* .............tablet section 8 start........... */
    .margin-top{
        margin-top: 28px;
    }
    .col-6-tablet{
        width: calc(100%/12*6);
    }
    .icons-s8 img{
        width: 66.6px;
        height: 39.38px;
        margin-bottom: 17px;
    }
    .list-s8 img{
        margin-right: 15px;
        width: 19px;
    }
    .number-s8 p{
        font-size: 14px;
        font-weight: 400;
    }
    .number-s8 img{
        margin-right: 13px;
        width: 15.64px;
    }
    .foot{
        font-weight: 400;
        font-size: 10px;
        margin-top: 84px;
        padding-bottom: 20px;
    }
}
/*...........tablet end............ */
@media screen and ( max-width: 600px){
    /* ............phone section 7....... */
    .container{
        margin-left: 28px;
    }
    .row-s7{
        font-weight: 700;
        font-size: 26px;
        padding-top: 62px;
    }
    .head-s7{
        font-weight: 400;
        font-size: 12px;
        padding-top: 22px;
    }
    .head2-s7{
        font-size: 37px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .texth-s7{
        font-weight: 400;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .text2-s7{
        font-weight: 400;
        font-size: 10px;
    }
    .text1-s7{
        width: 138px;
        margin-right: 31px;
        padding-bottom: 63px;
    }
    /* .........phone section 7 end........ */

    /* .........phone section 8............ */
    .margin-top{
        padding-top: 23px;
        margin-top: 0 ;
    }
    .row{
        display: block;
    }
    .icons-s8 img{
        width: 53.59px;
        margin-bottom: 10px;
    }
    .list-s8 img{
        margin-right: 10px;
        width: 15px;
    }
    .contact-s8{
        width: 148px;
        height: 41px;
        font-size: 10px;
    }
    .foot{
        font-weight: 400;
        font-size: 10px;
        margin-top: 70px;
        padding-bottom: 15px;
    }
}