/******************************** Ç İ N G İ Z *******************************************************/

.wrapper2 {
  margin-left: 84px;
  margin-right: 84px;
}
.h1head {
  margin-bottom: 21px;
  margin-left: 37px;
  height: 93px;
  left: 121px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 101.38%;
}
.firstlist {
  display: flex;
  margin-left: 54px;
  margin-bottom: 248px;
  width: 662px;
  height: 374px;
  left: 138px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.h2head {
  height: 93px;
  left: 121px;
  margin-left: 37px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5%;
  margin: 95px 85px 121px 84px;
  padding: 0;
}

.section1 {
  display: flex;
  flex-direction: column;
  column-count: 3;
  width: 31%;
  height: 22vw;
  margin-top: 3.5%;
  background-color: white;
  border-radius: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
}
.inside {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 11px 14px 23px 19px;
}

.a1 {
  font-weight: 700;
  font-size: 2vw;
  line-height: 130%;
}

.d1 {
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 130%;
}

ul.a {
  list-style-type: circle;
}

@media (min-width: 590px) and (max-width: 960px) {
  .wrapper2 {
    margin-left: 31px;
    margin-right: 61px;
  }
  .h1head {
    margin-bottom: 61px;
    margin-left: 37px;
    height: 73px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 101.38%;
  }
  .firstlist {
    display: flex;
    margin-left: 60px;
    margin-bottom: 248px;
    width: 68%;
    left: 138px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
  }
  .firstlisttext {
    display: flex;
  }
  .h2head {
    height: 68px;
    margin-left: 37px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 101.38%;
  }
  .sections {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5%;
    margin: 55px 49px 53px 49px;
    padding: 0;
  }
  .inside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1vw 1.1vw 1.5vw 1.2vw;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    column-count: 3;
    width: 31%;
    height: 22vw;
    margin-top: 3.5%;
    background-color: white;
    border-radius: 2vw;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }

  .a1 {
    font-weight: 700;
    font-size: 2vw;
    line-height: 130%;
  }
  
  .d1 {
    font-size: 1.5vw;
    font-weight: 400;
    line-height: 130%;
  }
}
@media (max-width: 590px) {
  .wrapper2 {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 41px;
  }

  .h1head {
    margin-bottom: 9.66px;
    margin-left: 18px;
    /*height: 73px;*/
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 101.38%;
  }
  .firstlist {
    margin-left: 36px;
    margin-bottom: 5px;
    width: 70vw;
    /*height: 274px;*/
    left: 78px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 170;
    font-size: 12px;
    line-height: 150%;
  }
  .h2head {
    height: 58px;
    margin-left: 34px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 101.38%;
  }

  .sections {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 3.5%;
    margin: 0 auto;
    margin-bottom: 47px;
    padding: 0;
  }
  .inside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1.5vw 1.4vw 2vw 3vw;
  }

  .section1 {
    display: flex;
    flex-direction: column;
    column-count: 1;
    width: 50%;
    height: 43vw;
    margin-top: 8%;
    background-color: white;
    border-radius: 9%;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
  }

  .a1 {
    font-weight: 700;
    font-size: 4vw;
    line-height: 130%;
  }
  
  .d1 {
    font-size: 3.5vw;
    font-weight: 400;
    line-height: 130%;
  }
}
