/******************************** Ç İ N G İ Z *******************************************************/

.wrapper2 {
  margin-left: 84px;
  margin-right: 84px;
}
.h1head {
  margin-bottom: 21px;
  margin-left: 37px;
  height: 93px;
  left: 121px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 101.38%;
}
.firstlist {
  display: flex;
  margin-left: 54px;
  margin-bottom: 248px;
  width: 662px;
  height: 374px;
  left: 138px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
}
.h2head {
  height: 93px;
  left: 121px;
  margin-left: 37px;
  margin-bottom: 96px;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 101.38%;
}

.sections {
  display: flex;
  flex-wrap: wrap;
  gap: 85px;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-bottom: 121px;
}

.section1 {
  margin-left: 13.8px;
  margin-top: 14px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 15px 15px 8px snow;
}

.a1 {
  z-index: 1;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 24px;
}

.d1 {
  z-index: 1;
  margin-left: 25px;
  margin-top: 25px;
  font-size: 18px;
}

ul.a {
  list-style-type: circle;
}
/* .alfa{display: flex;justify-content: flex-start; gap: 97px;} */

@media (min-width: 590px) and (max-width: 930px) {
  .wrapper2 {
    margin-left: 31px;
    margin-right: 61px;
  }
  .h1head {
    margin-bottom: 61px;
    margin-left: 37px;
    height: 73px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 101.38%;
  }
  .firstlist {
    display: flex;
    margin-left: 60px;
    margin-bottom: 248px;
    width: 68%;
    left: 138px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 150%;
  }
  .firstlisttext {
    display: flex;
  }
  .h2head {
    height: 68px;
    left: 121px;
    margin-left: 37px;
    margin-bottom: 96px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 101.38%;
  }
  .sections {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    margin: 0;
    padding: 0;
    margin-left: 40px;
    margin-bottom: 121px;
  }

  .section1 {
    margin-left: 8.8px;
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 15px 15px 8px snow;
  }

  .a1 {
    z-index: 1;
    margin-left: 35px;
    margin-top: 25px;
    font-size: 16px;
  }

  .d1 {
    z-index: 1;
    margin-left: 35px;
    margin-top: 25px;
    font-size: 12px;
  }
}
@media (max-width: 590px) {
  .wrapper2 {
    margin-left: 18px;
    margin-right: 41px;
  }
  
  .h1head {
    margin-bottom: 9.66px;
    margin-left: 18px;
    height: 73px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 101.38%;
  }
  .firstlist {
    margin-left: 36px;
    margin-bottom: 5px;
    width: 95%;
    height: 274px;
    left: 78px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 170;
    font-size: 12px;
    line-height: 150%;
  }
  .h2head {
    height: 58px;
    left: 81px;
    margin-left: 18px;
    margin-bottom: 35.66px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 101.38%;
  }
  .sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-count: 1;
    gap: 30px;
    margin: 0 ;
    padding: 0;
    margin-bottom: 47.16px;
  }

  .first {
    width: 185.92px;
    height: 74.56px;
  }

  .section1 {
    margin-top: 10px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 15px 15px 8px snow;
  }

  .a1 {
    width: 80%;
    z-index: 1;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 14px;
  }

  .d1 {
    width: 80%;
    z-index: 1;
    margin-left: 15px;
    margin-top: 20px;
    font-size: 11px;
  }
}
